/****color variable*****/
$body-bg: #040b29;
$primary-color : #5138ee;
$white: #ffff;
$black:#000;
$bg-btn:#0a72ff;
$bg-hover:#005ad8;
$border-color:rgba(255,255,255,.1);
$bg-black :#030010;
$box-bg:#1A203C;
$amount-color:#00edc5;